/* colors
- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)
- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%) 



- Mobile: 375px
- Desktop: 1440px*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}



